:root {
    --dark-teal: #094B5C;
    --navy: #002A79;
    --teal: #74BAC4;
    --olive: #679771;
    --wash: #F4F4F3;
}

body{
    background: var(--wash);
    color: var(--dark-teal);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 200;
}

.navbar-dark{
    background: var(--teal) !important;
    color: white !important;
}

.nav-link{
    color: white !important;
}

.outer-card{
    background: var(--teal) !important;
}

.white-text{
    color: white;
}

.dark-teal-text{
    color: var(--dark-teal);
}

.small-text{
    font-size: 0.5rem;
}

.btn-icon{
    border: none;
    background: none;
    cursor: pointer;
}

a.link-light:hover{
    text-decoration: none;
    color: var(--dark-teal);
}

.icon-light{
    color: white;
}

.icon-light:hover{
    color: var(--dark-teal);
}

.icon-dark{
    color: var(--dark-teal);
}

.icon-dark:hover{
    color: var(--teal);
}

a.thumbnail-img:hover{
    cursor: pointer;
    opacity: 0.6;
}