:root {
    --dark-teal: #094B5C;
    --navy: #002A79;
    --teal: #74BAC4;
    --olive: #679771;
    --wash: #F4F4F3;
}

body{
    background: var(--wash);
    color: var(--dark-teal);
}

.navbar-dark{
    background: var(--teal) !important;
    color: white !important;
}

.nav-link{
    color: white !important;
}

.outer-card{
    background: var(--teal) !important;
}