.card-link {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

.card-link:hover {
    color: var(--dark-teal);
}

.blog-card-bottom {
    padding:3%;
}

.icon-light:hover {
    color: var(--dark-teal);
  }