.commentForm {
    border: solid 2px #094B5C;
    position: relative;
    width: 500px;
    height: 50px;
}
.commentForm input[type=text] {
    border: none;
    width: 100%;
    padding-right: 123px;
    color: #094B5C;
}
.commentForm .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
}

.commentSideCol {
    justify-content: center;
    display: grid;
    
}

.commentHeart {
    justify-content: center;
    display:table;
    outline: none;
    border: none;
    background-color: transparent;
}

.commentHeart:focus {
    outline: none;
}

.commentHeart:hover {
    cursor: pointer;
    color: #74bac4;
}

.comment {
    margin-bottom: 1%;
}